@import url(//fonts.googleapis.com/css2?family=Raleway&family=Lato:wght@400&display=swap);

body {
  margin-left: 50px;
  margin-bottom: 100px;
}

h1 {
  font-family: Lato;
  font-weight: bold;
}

h2 {
  font-family: Lato;
  font-weight: bold;
}

p {
  margin: 20px 10px 20px 10px;
  font-family: Raleway;
}

a {
  color: black;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: Lato;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
  padding: 20px;
}

.logo {
  font-size: 20px;
}

/* Cards */

.card-border {
  display: inline-block;
  border-radius: 5%;
  padding: 20px;
  box-shadow: 5px 5px 10px grey;
}

/* User card */

.user-card {
  margin: auto;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 275px;
}

.user-card-photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.user-card-button {
  border-style: none;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  background: #f09433; 
  background: linear-gradient(45deg, #add8e6 25%, #86c5da 75%); 
  font-family: Lato;
}

/* Profile card */

.profile-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 500px;
}

.profile-card-photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline;
}

.user-info {
  display: flex;
  align-items: center;
  text-align: left;
}

.profile-name {
  margin-left: 20px;
}

.profile-line {
  margin-left: 20px;
}

.bio {
  text-align: left;
}

.interests {
  display: flex;
  flex-wrap: wrap;
}

.interest {
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 12px;
  background-color: #add8e6;
  border-radius: 10px;
  line-height: 0;
}

.profile-card-button {
  border-style: none;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  background: #f09433; 
  background: linear-gradient(45deg, #add8e6 25%, #86c5da 75%); 
  font-family: Lato;
  width: 50%;
}
